html {
    scroll-behavior: smooth;
}

.totop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FF8C00;
    color: black;
    padding: 0px 10px 5px 10px;
    font-size: x-large;
    border: none;
    border-radius: 5px;
    transition: 500ms;
}

.totop:hover {
    transition: 500ms;
    padding: 10px;
}

.downloadbtn {
    background-color: #FF8C00;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: 500ms;
    margin: 10px;
    margin-left: 0px;

}

.downloadbtn:hover {
    background-color: rgb(30, 27, 27);
    color: #FF8C00;
    border-radius: 7px;
    transition: 500ms;
    margin-left: 30px;
}

.containers:hover {
    margin-left: 50px;
    transition: 500ms;
}

.containers {
    transition: 500ms;
    z-index: 3;
}

.blob {
    position: fixed;
    opacity: 45%;
    transition: 700ms;
    z-index: -1;
    left: 20%;
    filter: blur(50px);
    top: 5%;
}

header button {
    padding: 10px;
    border: none;
    outline: none;
    color: #fff;
    background: #000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 17.6px;
}

header button:before {
    content: '';
    background: linear-gradient(45deg, #FF8C00, rgb(255, 102, 0), red, rgb(255, 102, 0), #FF8C00);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

header button:hover:before {
    opacity: 1;
    color: #FF8C00;
}

header button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    border-radius: 10px;
    color: #FF8C00;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

header button:hover {
    color: #D4D4D5;
}

.menulinks {
    width: 100%;
    padding: 5px;
    border-radius: 0%;
    font-size: xx-large;
    margin: 30px;
    transition: 500ms;
}

text {
    color: #FF8C00;
}

text::selection {
    background-color: #FF8C00;
    color: #D4D4D5;
}

footer {
    color: #675f5f;
    margin-top: 300px;
    text-align: center;
    font-size: 85%;
    transition: 300ms;
}

footer:hover {
    color: #c6b1b1;
    transition: 300ms;
}

* a::selection {
    color: #D4D4D5;
}

*::selection {
    color: black;
    background-color: #FF8C00
}

* img::selection {
    background-color: #ffa02c9d;
}

body {
    background-color: rgb(2, 1, 1);
    color: #D4D4D5;
    font-family: Poppins;
}

a {
    color: #FF8C00;
    text-decoration: none;
}

/* tablet képernyő */
@media (max-width:600px) {


    .containers {
        width: 100%;
        padding-top: 5%;
        padding-left: 5%;
        margin-right: 0px;
        padding-right: 10px;
    }

    #dropdown {
        display: none;
    }

}

/* pc képernyő */
@media (min-width:600px) {

    #dropdown {
        display: none;
    }

    .containers {
        padding-top: 5%;
        width: 40%;
        padding-left: 5%;
        margin-right: 0px;
    }
}

/* tablet képernyő */
@media (min-width:459px) {

    #dropdown {
        display: none;
    }

    header {
        background-color: transparent;
        text-align: right;
        position: absolute;
        right: 10px;
        width: 100%;
    }

}

/* telefon képernyő */
@media (max-width:460px) {
    .containers {
        max-width: 50%;
    }

    header button {
        display: none;
    }

    .codeimg {
        width: 60%;
        padding: 3px;
    }

    #dropdown {
        display: block;
        cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }
    
}
