@font-face {
    font-family: Bebas Neue;
    src: url(../resources/BebasNeue-Regular.ttf);
}
body{
    background-color: #FFB600;
    margin: 0px;
    font-family: Bebas Neue;
    min-height: 100vh;
}

@media only screen and (max-width: 600px) {
    h1{
        font-size: 70vw;
        width: 100%;
        display: block;
        margin: auto;
        position: absolute;
        bottom: 30vh;
        text-align: center;
        z-index: 1;
    }
    h2{
        font-size: 10vw;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        margin: auto;
        text-align: center;
        bottom: 3em;
        position: absolute;
        width: max-content;
    }
    .oval{
        background-color: white;
        border-radius: 50%;
        position: absolute;
        z-index: -10;
    }
    .oval.small{
        width: 27vw;
        height: 27vw;
        top: 55vh;
        left: 66vw;
    }
    .oval.big{
        height: 66vw;
        width: 66vw;
        top: 33vh;
        left: -7vw;
    }
    #buttons a{
    background-color: #FBE367;
    border-radius: 50px;
    width: 65%;
    padding: 5px;
    display: block;
    text-align: center;
    margin: auto;
    font-size: 23px;
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: .5em;
    left: 50%;
    transform: translateX(-50%);
    
    }
    #buttons a:nth-child(1){
        bottom: 2.5em;
    }
}

@media only screen and (min-width: 601px){

}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}