@font-face {
    font-family: Bebas Neue;
    src: url(../resources/BebasNeue-Regular.ttf);
}
a{
    text-decoration: none;
    color: black;
}
body {
    font-family: Bebas Neue;
    margin: 0px;
    background-color: #FFB600;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}

header {
    text-align: center;
    width: 100%;
    font-size: 50px;
}

header span {
    padding-top: 3em;
}

section.yellow {
    width: 100%;
    margin: 0px;
    height: 23em;
    background-color: #FFB600;
}

section.white {
    width: 100%;
    margin: 0px;
    height: 30em;
    background-color: white;
}
#about{
    width: 75%;
    margin-left: 1em;
    margin-top: 5em;
}
#about a{
    background-color: #FBE367;
    border-radius: 50px;
    width: 7em;
    padding: 5px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    color: black;
    outline: none;
    border: none;
    margin-top: 1em;
    font-family: Bebas Neue;
}
#buttons a.button {
    background-color: #FBE367;
    border-radius: 50px;
    width: 75%;
    padding: 5px;
    display: block;
    text-align: center;
    margin: auto;
    font-size: 23px;
    text-decoration: none;
    color: black;
}

#buttons {
    padding-top: 3em;
}
#totop{
    padding: 5px;
    background-color: #FBE367;
    color:black;
    font-size: 20px;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    right: 1em;
    bottom: 1em;
    border: none;
}
#buttons span{
    display: none;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    header{
        font-size: 70px;
        cursor: pointer;
    }
    #about{
        font-size: 25px;
        margin-left: 5em;
    }
    #about a{
        width: 10em;
        padding: 10px;
        font-size: 23px;
        transition: 400ms;
    }
    #about a:hover{
        padding-right: 40px;
    }
    #buttons a.button{
        font-size: 30px;
        width: 40vw;
        transition: 400ms;
    }
    #buttons a:hover{
        width: 45vw;
    }
    section.yellow{
        height: 35em;
    }
    #totop{
        height: 2em;
        width: 2em;
        font-size: 25px;
        cursor: pointer;
    }
}