@font-face {
    font-family: Bebas Neue;
    src: url(../resources/BebasNeue-Regular.ttf);
  }
body{
    margin: 0px;
    background-color: #FFB600;
    font-family: Bebas Neue !important;
}
header{
    text-align: center;
    font-size: 50px;
}
.content{
    max-width: 75vw;
    font-size: 23px;
    margin: auto;
    margin-top: 7em;
}
a{
    text-decoration: none;
    color: black;
}
.content a:hover{
    text-decoration: underline;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}